:root {
  --color-light: #fff;
  --color-light-2: #ccc;
  --color-medium: #777;
  --color-dark: #0F1113;
  --color-primary: #30fc82;
}

html {
  color: var(--color-light);
  background: #0F1113;
  font-family: 'JetBrains Mono Medium', sans-serif;
}

body {
  max-width: 900px;
  margin: 1em auto;
  padding: 1em;
}

.topbar {
  border-bottom: 2px solid var(--color-light-2);
  margin-bottom: 1em;

  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu_item {
  background: rgba(255, 255, 255, 0);
  transition: all linear 0.15s;
  color: var(--color-light);
}

.menu_item:hover, .menu_item:active {
  background: rgba(255, 255, 255, 1);
  color: #0F1113;
}

.menu_item a {
  color: inherit;
  display: block;
  padding: 0.5em 1.5em;
  text-decoration: none;
}

.menu_item a:hover {
  text-decoration: none;
}

h1 a {
  color: inherit;
}

section {
  margin-top: 2em;
}

h2 {
  margin-bottom: 0.5em;
}

p {
  text-align: justify;
  margin-bottom: 1em;
}

.deco {
  color: var(--color-primary);
  text-shadow: 0 0 3px var(--color-primary);
}

a {
  color: var(--color-primary);
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: square;
}

footer {
  display: block;
  text-align: right;
  margin-top: 2em;
  color: var(--color-medium);
}